:host {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.form-field {
  width: 80%;
  margin-top: 30px;
}
.info {
  margin-bottom: 30px;
}
.card-field {
  display: grid;
  justify-content: center;
  grid-template-columns: auto auto auto;
  @media (max-width: 920px)  {
    grid-template-columns: auto auto;
  }
  @media (max-width: 640px)  {
    grid-template-columns: auto;
  }
}
